.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid #ccc;
  background-color: rgb(114, 134, 157);
  padding: 20px;
  border-radius: 10px;
}
#para{
    font-size: 20px;
    font-weight: bold;
}
#btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}